Repository Klukies/atomize: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, StyleLint, markdownlint

eslint:
  name: Lint files with ESLint
  entry: ./node_modules/.bin/eslint --fix
  language: script
  stages:
  - commit

StyleLint:
  name: Lint (S)CSS files with Stylelint
  entry: ./node_modules/.bin/stylelint --fix
  language: script
  stages:
  - commit

markdownlint:
  name: Lint Markdown documentation
  entry: ./node_modules/.bin/markdownlint
  language: script
  args:
  - -i
  - CHANGELOG.md
  stages:
  - commit

chore: setup scss
  next.config.js
  package-lock.json
  package.json
  src/pages/_app.tsx
  src/scss/base/_reset.scss
  src/scss/base/index.scss
  src/scss/index.scss
  src/scss/theme/_colors.scss
  src/scss/theme/_spacing.scss
  src/scss/theme/index.scss
Due: eslint, StyleLint

feat: setup landing and installation page
  package-lock.json
  package.json
  public/locales/en/documentation.json
  src/@types/next-i18next.d.ts
  src/components/atoms/Hamburger/index.tsx
  src/components/icons/Close.tsx
  src/components/icons/Logo.tsx
  src/components/icons/Menu.tsx
  src/components/molecules/Header/header.module.scss
  src/components/molecules/Header/index.tsx
  src/layouts/Documentation/index.tsx
  src/layouts/Landing/index.tsx
  src/pages/docs/installation.tsx
  src/pages/index.tsx
Due: eslint, StyleLint

chore: setup mdx
  docs/installation.mdx
  package-lock.json
  package.json
  src/pages/_app.tsx
  src/pages/docs/[slug].tsx
  src/pages/docs/installation.tsx
  src/pages/index.tsx
  src/utils/mdx.ts
Due: eslint

refactor: rename scss files
  src/scss/app.scss
  src/scss/base/_index.scss
  src/scss/theme/_index.scss
Due: StyleLint

chore: remove next-i18next
  next-i18next.config.js
  next.config.js
  package-lock.json
  package.json
  public/locales/en/common.json
  public/locales/en/documentation.json
  public/locales/en/index.json
  src/@types/next-i18next.d.ts
  src/components/atoms/Hamburger/index.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
Due: eslint

feat: add theme toggle
  src/components/molecules/Header/header.module.scss
  src/components/molecules/Header/index.tsx
  src/components/molecules/ThemeToggle/icons/moon.svg
  src/components/molecules/ThemeToggle/icons/sun.svg
  src/components/molecules/ThemeToggle/index.tsx
  src/components/molecules/ThemeToggle/themeToggle.module.scss
  src/hooks/useTheme.ts
  src/pages/_document.tsx
  src/utils/getTheme.ts
Due: eslint, StyleLint

feat: add more global scss
  src/components/icons/Logo.tsx
  src/scss/base/_index.scss
  src/scss/base/_typography.scss
  src/scss/theme/_breakpoints.scss
  src/scss/theme/_index.scss
  src/scss/theme/_spacing.scss
Due: eslint, StyleLint

feat: use next-themes for switching themes
  package-lock.json
  package.json
  src/components/molecules/Header/header.module.scss
  src/components/molecules/ThemeToggle/index.tsx
  src/components/molecules/ThemeToggle/themeToggle.module.scss
  src/hooks/useTheme.ts
  src/layouts/Documentation/documentation.module.scss
  src/layouts/Landing/index.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/scss/base/_index.scss
  src/scss/theme/_breakpoints.scss
  src/scss/theme/_colors.scss
  src/utils/getTheme.ts
Due: eslint, StyleLint

feat: add sidebar
  .github/workflows/gh-pages.deploy.yml
  next.config.js
  package-lock.json
  package.json
  src/components/molecules/Header/header.module.scss
  src/components/molecules/Header/index.tsx
  src/components/molecules/Sidebar/docRoutes.ts
  src/components/molecules/Sidebar/index.tsx
  src/components/molecules/Sidebar/sidebar.module.scss
  src/layouts/Documentation/documentation.module.scss
  src/layouts/Documentation/index.tsx
  src/layouts/Landing/index.tsx
  src/layouts/Landing/landing.module.scss
  src/scss/base/_index.scss
  src/scss/base/_typography.scss
  src/scss/theme/_breakpoints.scss
  src/scss/theme/_colors.scss
Due: eslint, StyleLint

feat: add .env.production
  .env.production
  next.config.js
Due: eslint

chore: update packages
  package-lock.json
  package.json
Due: none

feat: finish styling sidebar
  package-lock.json
  package.json
  src/components/atoms/Hamburger/hamburger.module.scss
  src/components/atoms/Hamburger/index.tsx
  src/components/atoms/ThemeToggle/index.tsx
  src/components/atoms/ThemeToggle/themeToggle.module.scss
  src/components/icons/Close.tsx
  src/components/icons/Moon.tsx
  src/components/icons/Sun.tsx
  src/components/molecules/Header/header.module.scss
  src/components/molecules/Header/index.tsx
  src/components/molecules/Sidebar/index.tsx
  src/components/molecules/Sidebar/sidebar.module.scss
  src/components/molecules/ThemeToggle/icons/moon.svg
  src/components/molecules/ThemeToggle/icons/sun.svg
  src/components/molecules/ThemeToggle/index.tsx
  src/components/molecules/ThemeToggle/themeToggle.module.scss
  src/layouts/Documentation/documentation.module.scss
  src/layouts/Documentation/index.tsx
  src/layouts/Landing/index.tsx
  src/layouts/Landing/landing.module.scss
  src/scss/base/_index.scss
  src/scss/base/_typography.scss
  src/scss/theme/_colors.scss
Due: eslint, StyleLint

feat: add initial installation page
  docs/installation.mdx
  src/components/mdxComponents/Paragraph/index.tsx
  src/components/mdxComponents/index.ts
  src/components/molecules/Sidebar/sidebar.module.scss
  src/layouts/Documentation/documentation.module.scss
  src/pages/docs/[slug].tsx
  src/scss/base/_typography.scss
Due: eslint, StyleLint

chore: add eslint-plugin-mdx
  docs/installation.mdx
  package-lock.json
  package.json
  tsconfig.json
Due: none

feat: add dark mdx code formatting
  next.config.js
  package-lock.json
  package.json
  src/assets/OneDark-Pro.json
  src/assets/OneLight.json
  src/components/mdxComponents/Paragraph/index.tsx
  src/components/mdxComponents/index.ts
  src/layouts/Documentation/documentation.module.scss
  src/layouts/Documentation/index.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/docs/[slug].tsx
  src/pages/docs/installation.mdx
  src/scss/base/_index.scss
  src/scss/base/_typography.scss
  src/scss/theme/_colors.scss
  src/utils/mdx.ts
Due: eslint, StyleLint

chore: update .env.production for new name
  .env.production
Due: none

feat: make sidebar fixed
  package-lock.json
  package.json
  src/components/molecules/Sidebar/sidebar.module.scss
  src/layouts/Documentation/documentation.module.scss
Due: StyleLint

refactor: move assets to dedicated folder
  next.config.js
  src/assets/icons/link.svg
  src/assets/icons/logo.svg
  src/assets/icons/moon.svg
  src/assets/icons/sun.svg
  src/assets/scss/app.scss
  src/assets/scss/base/_index.scss
  src/assets/scss/base/_reset.scss
  src/assets/scss/base/_typography.scss
  src/assets/scss/theme/_breakpoints.scss
  src/assets/scss/theme/_colors.scss
  src/assets/scss/theme/_index.scss
  src/assets/themes/OneDark-Pro.json
  src/assets/themes/OneLight.json
  src/components/icons/Logo.tsx
  src/components/icons/Moon.tsx
  src/components/icons/Sun.tsx
  src/scss/base/_index.scss
Due: eslint, StyleLint

refactor: use tsconfig paths
  src/components/atoms/Hamburger/index.tsx
  src/components/atoms/ThemeToggle/index.tsx
  src/components/molecules/Header/index.tsx
  src/components/molecules/Sidebar/index.tsx
  src/layouts/Documentation/index.tsx
  src/layouts/Landing/index.tsx
  src/pages/_app.tsx
  tsconfig.json
Due: eslint

feat: add sluggable heading elements
  package-lock.json
  package.json
  src/components/mdx/Heading/heading.module.scss
  src/components/mdx/Heading/index.tsx
  src/components/mdx/index.tsx
  src/components/molecules/Sidebar/sidebar.module.scss
  src/layouts/Documentation/documentation.module.scss
  src/pages/docs/installation.mdx
Due: eslint, StyleLint

refactor: remove markdownlint-cli
  .pre-commit-config.yaml
  package-lock.json
  package.json
Due: none

docs: write initial README.md
  README.md
Due: markdownlint

fix: remove outline from Hamburger & themeToggle
  src/components/atoms/Hamburger/hamburger.module.scss
  src/components/atoms/ThemeToggle/themeToggle.module.scss
Due: StyleLint

refactor: use aria-current over .active
  src/components/molecules/Sidebar/index.tsx
  src/components/molecules/Sidebar/sidebar.module.scss
Due: eslint, StyleLint

feat: add light code highlighting
  next.config.js
  package-lock.json
  package.json
  src/assets/scss/base/_index.scss
Due: eslint, StyleLint

fix: disable Safari hmlt scroll
  src/components/molecules/Sidebar/index.tsx
Due: eslint

refactor: use aria-expanded over .active class
  src/components/atoms/Hamburger/hamburger.module.scss
  src/components/atoms/Hamburger/index.tsx
  src/components/atoms/ThemeToggle/index.tsx
  src/components/atoms/ThemeToggle/themeToggle.module.scss
Due: eslint, StyleLint

fix(Safari): disable scrolling when sidebar is open
  src/components/mdx/Heading/index.tsx
  src/components/molecules/Sidebar/index.tsx
Due: eslint

chore: update package.json information
  package.json
Due: none

Path conditions:
  eslint: any of: \.[jt]sx?$
  StyleLint: any of: \.(css|scss|sass)$
  markdownlint: any of: \.md$
